@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;

    src: local("Roboto"),
        url('/../fonts/Roboto-Regular.ttf') format('truetype'),
        url("/../fonts/Roboto-Regular.woff2") format("woff2"),
        url("/../fonts/Roboto-Regular.woff") format("woff");
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    background-color: #C4C4C4;
    height: 800px;
    width: 661px;
    display:block;
    margin:0 auto;
}

.searchInput {
    display:block;
    margin:0 auto;
    border: none;
    width: 500px;
    height: 61px;
    font-size: 48px;
    font-family: Roboto;
    line-height: 56.25px;
    padding: 0px;
    padding-left: 13px;
}

.searchLine {
    padding-top: 62px;
}


.autodop {
    margin:0 auto;
    width: 500px;
    background-color: #e4e4e4;
}

.choice {
    border: solid 2px #000000;
    margin: 0px;
    height: 44px;
    font-size: 30px;
    line-height: 35.16px;
    font-family: Roboto;
    padding-left: 16px;
}

.choice:hover {
    background-color: #65CDF9;
}


.output-field {
    padding-top: 45px;
    margin-left: 80px;
}


.card {
    background-color: #E27BEB;
    border: solid 1px #000000;
    width: 500px;
    height: 101px;
    font-family: Roboto;
    font-size: 24px;
    line-height: 28.13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-text {
    display: flex;
    flex-direction: column;
    padding-left: 13px;
}

.card-button {
    border: none;
    background-color: #E27BEB;
    width: 42px;
    height: 42px;
    padding: 0px;
    position: relative;
}

.card-button:before, .card-button:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 34px;
    width: 42px;
    height: 4px;
    background-color: #FF0000;
}

.card-button::after {
    transform: rotate(45deg);
}

.card-button:before {
    transform: rotate(-45deg);
}